<!DOCTYPE html>
<html>
    <header>
        <title>Page Not Found</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </header>
        
    <body>
        <div class="main-content">
            {{>header}}
        <p>{{message}}</p>
        </div>
        
        {{>footer}}
    </body>
</html>